.main
{
	width:100%;
	height:720px;
	
	
	display:flex;
}
.Box
{
	width:50%;
	height:710px;
	
	
}
.nav
{
	
	width:100%;
	height:50px;
	display:flex;
	
	
}
.text
{
	font-size:30px;
	margin-left:1px;
}
.text a
{
	text-decoration:none;
}
.white
{
	color:white;
}
.firstBox
{
	width:50%;
	height:2000px;
	border:2px solid black;
}
.black
{
	color:black;
}
.text1
{
	margin-top:10px;
	font-size:16px;
	margin-left:420px;
	margin-right:-50px;
	border-bottom:none;
}
.text1 a
{
	text-decoration:none;
}
.text2
{
	margin-right:-40px;
	margin-top:10px;
	margin-left:92px;
}
.text2 a
{
	text-decoration:none;
}
.success
{
	font-size:80px;
	margin-left:70px;
	margin-top:100px;
}
.findcource
{
	
	width:270px;
	height:30px;
	margin-right:880px;
	margin-left:75px;
	margin-top:1px;
	text-align:center;
	background-color:black;
	padding-top:10px;
}
.findcource a
{
	text-decoration:none;
}
.line
{
	margin-left:75px;
	margin-top:40px;
	font-size:23px;
}
.textline
{
	margin-left:75px;
	margin-top:40px;
	font-size:20px;
}
.display
{
	display:flex;
}
.text3
{
	width:50%;
	height:160px;
	background-color:black;
	color:white;
	font-size:25px;
	text-align:center;
	margin-top:1px;
	padding-top:80px;
}
.imagesize
{
	width:50%;
	height:240px;
	margin-bottom:1px;
}
.imagesize1
{
	width:50%;
	height:240px;
	margin-top:-25px;
}
.imagesize2
{
	width:50%;
	height:230px;
	margin-top:-1px;
}
.line1
{
	font-size:35px;
	color:white;
	margin-top:-250px;
	margin-left:410px;
}






